{% extends 'index.html' %}

{% block title %}Воронежская Ветклиника{% endblock %}

{% block content %}
    <div class="main-container">
        <h2>Добро пожаловать в Воронежскую Ветклинику!</h2>
        <p>Наши высококвалифицированные специалисты и современное оборудование гарантируют лучший уход за вашими
            питомцами.</p>

        <p>Ветеринарная клиника "Воронежвет" – это место, где каждому питомцу оказывается высококачественная медицинская помощь. Здесь работают врачи с мировым уровнем подготовки, которые искренне любят животных и посвятили свою жизнь заботе о них. Команда специалистов клиники состоит из профессионалов, получивших образование в ведущих ветеринарных институтах мира. Благодаря их знаниям и опыту, "Воронежвет" пользуется доверием и уважением среди владельцев домашних животных в регионе.</p>

        <p>Наша команда профессионалов включает:</p>
        <ul>
            <li>Степана Фролова, специалиста по хирургии и реабилитации животных. Выпускник Королевского ветеринарного колледжа в Лондоне, он успешно проводит сложные операции и помогает питомцам восстанавливаться после травм и болезней.</li>
            <li>Даниила Балахнина, эксперта в области кардиологии и внутренних болезней. Его образование в Венском университете, а также многолетняя практика, сделали его ведущим специалистом по диагностике сложных случаев.</li>
            <li>Анастасию Лебедеву, ветеринара-офтальмолога и дерматолога, выпускницу Университета ветеринарной медицины Ганновера. Она помогает питомцам вернуть зрение и справляться с кожными заболеваниями.</li>
            <li>Максима Гордеева, хирурга-ортопеда, обучавшегося в Калифорнийском университете в Дэвисе. Максим специализируется на лечении опорно-двигательной системы и проводит операции любой сложности.</li>
            <li>Наталью Воробьеву, специалиста по экзотическим животным. Получив образование в Сиднейском университете, она успешно лечит птиц, рептилий и редких домашних животных.</li>
            <li>Елену Пахомову, терапевта и специалиста по диагностике. Выпускница Парижской школы ветеринарной медицины, она проводит точные обследования и назначает эффективное лечение.</li>
            <li>Алексея Исаева, анестезиолога и интенсивиста, окончившего Цюрихский университет. Его опыт помогает обеспечивать безопасность даже во время сложных хирургических процедур.</li>
        </ul>

        <p>Все специалисты клиники "Воронежвет" не только имеют высокую квалификацию, но и регулярно повышают ее, посещая международные конференции, мастер-классы и семинары. Они постоянно обновляют свои знания, чтобы соответствовать современным стандартам ветеринарной медицины.</p>

        <p>Мы знаем, насколько важны ваши питомцы, и делаем все возможное, чтобы вернуть их к здоровой и счастливой жизни. Если вы ищете профессионалов, которым можно доверить здоровье вашего любимца, приходите в "Воронежвет". Ваш питомец получит заботу и внимание от лучших ветеринаров региона!</p>

        <h3>Адрес:</h3>
        <p>г. Воронеж, ул. Переверткина 31А</p>
        <!-- Вставьте сюда HTML код Google Maps -->
        <div class="map">
            <iframe
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2436.654012792391!2d39.20074851580638!3d51.66078167965762!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x412b2b91bbdc5c97%3A0x8ab001c5daac600!2z0YPQuy4g0J_QvtC70YzRiNC-0L3RgdC60LDRjyDRg9C7Liwg0JLQvtGA0L7RgdC40Y8sINCg0LXRgNC10L3RgtGA!5e0!3m2!1sru!2sru!4v1640984019981"
                    width="600"
                    height="450"
                    frameborder="0"
                    style="border:0;"
                    allowfullscreen=""
                    aria-hidden="false"
                    tabindex="0">
            </iframe>
        </div>
    </div>
{% endblock %}
