{% extends 'index.html' %}

{% block title %}Услуги - Воронежская Ветклиника{% endblock %}

{% block content %}
    <div class="services-container">
        <h2>Наши услуги</h2>
        <table class="services-table">
            <thead>
            <tr>
                <th>Услуга</th>
                <th>Описание</th>
                <th>Цена</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>Общий осмотр</td>
                <td>Полный осмотр вашего питомца, включая проверку зрения, слуха, сердечно-сосудистой и дыхательной
                    систем.
                </td>
                <td>1500 руб.</td>
            </tr>
            <tr>
                <td>Вакцинация</td>
                <td>Профилактическая вакцинация для защиты от распространенных заболеваний.</td>
                <td>2000 руб.</td>
            </tr>
            <tr>
                <td>Хирургические операции</td>
                <td>Выполнение всех типов ветеринарных операций под общим наркозом с использованием современного
                    оборудования.
                </td>
                <td>от 5000 руб.</td>
            </tr>
            <tr>
                <td>Стерилизация и кастрация</td>
                <td>Процедуры по стерилизации и кастрации для контроля над репродуктивным поведением животных.</td>
                <td>3000 руб.</td>
            </tr>
            <tr>
                <td>Чипирование</td>
                <td>Имплантация микрочипа для удобства идентификации животного.</td>
                <td>1800 руб.</td>
            </tr>
            </tbody>
        </table>
    </div>
{% endblock %}
